target/
boot/
lib_managed/
src_managed/
project/plugins/project/
/.idea/
/project/target/
/src/main/g8/target/
/project/project/

*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
project/boot/

# Scala-IDE specific
.scala_dependencies
.worksheet

# ENSIME specific
.ensime_cache/
.ensime
/src/main/g8/project/target/
